@import "tailwindcss";

@media only screen and (min-width: 1024px ) {
    html {
        overflow: hidden;
      }
    
}

/* Basic styles */

html {
    background-color: rgb(89, 255, 71, 0.2);
}

p, label {
    font-size: 1rem;
}

input {
    padding: 2%;
    background-color: white;
    border-radius: 15px;
}

.content-row {
    border-radius: 1.5rem;
    min-height: 100%;
    max-height: 100%;
    width: 95%;
    padding: 10%;
}


#content-row-two {
    background-color: rgb(89, 255, 71, 0.5);
    overflow: hidden;
    overflow-y:auto;
    max-height: 100%;
}

#nav-name {
    font-size: 1.5rem;
}

#sign-out-btn {
    border: 2px solid #00632b;
    border-radius: 1.5rem;
}

/* Basic Styles End */

/* Accessiblity Styles */

button:focus, input:focus {
    outline: 0.2rem solid #00632b;
}

.expense-remove-btn:focus {
    background-color: #f17b89;
    outline: 0.2rem solid #f17b89;
}

/* Accessiblity Styles End*/

/* Log-in Page Styles */

#btn-div {
    border-radius: 1.5rem;
    padding: 10%;
    width: 60%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #00632b;
    
}

#log-in-btn {
    width: 85%;
    background-color: #89f17b;
    padding: 4%;
    border-radius: 10px;
    font-size: 1.2rem;
}

/* Log-in Page Styles Emd*/

/* Dashboard styles */

#content-row-one {
    background-color: rgba(0, 99, 43, 0.502);
}


#content-row-three{
    background-color: rgb(16, 255, 3, 0.5);
}

#add-expense-btn, #save-expense-btn {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
}

#add-expense-btn {
    background-color: #00bfff;
}

#save-expense-btn {
    background-color: #89f17b;
}

.hidden {
    opacity: 1;
}

.success {
    color:chartreuse;
}

.error {
    color: deeppink;
}

.expense-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2%;

    border: 0.3rem solid rgb(0, 191, 255, 0.7);
    border-radius: 10px;
    width: 100%;

    gap: 2%;

    margin-top: 2%;
    margin-bottom: 2%;
}

.expense-label {
    color: white;
    font-weight: 400;
    padding: 2%;
    text-align: center;
    width: 30%;
    background-color:#00bfff;
    border-radius: 25px;
}

#content-row-one, #content-row-three h2 {
    font-size: 1.5rem;
}

#content-row-one label, p {
    font-size: 1.2rem;
    font-weight: 500;
}

.expense-remove-btn {
    padding: 1rem;
    border-radius: 5rem;
    background-color: none;
    transition: backgroundcolor 2s;
}

.expense-remove-btn:hover {
    background-color: #f17b89
}

#expense-budget, #budget-remainder, #expense-total-display {
    padding: 5%;
    width: 100%;
    border-radius: 10px;
}

#expense-budget {
    background-color: #7bf1e3;
}

#budget-remainder {
    background-color: #89f17b;
}

#expense-total-display {
background-color: #00bfff;
}

/* Pie Chart Dimensions */

#chart-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dashboard Styles End */